<section class=" body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap w-full mb-10 md:ml-10">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdZ94zhinsruDrzKo7YyWVNjN23MbVydX6wcRW9BNla3f_y6Q/viewform?embedded=true" width="640" height="553" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
      </div>
    </div>
  </div>
</div>