<div class="menu items-center z-10 bg-base-200 min-h-screen">
  <div class="flex-col md:flex-row justify-center gap-8">
    <div class="card w-96 bg-base-100 shadow-xl py-4 my-4">
      <div class="card-body">
        <h2 class="card-title pb-4">ツーリングスポットを探そう！</h2>
          <div>
            <p>画面上部のツーリングスポットを探すから、現在地から探したいカテゴリーと検索範囲を指定してツーリングスポットを見つけよう。</p>
          </div>
      </div>
      <figure class="px-8">
        <%= image_tag 'search_tutorial.png', class: "rounded-xl" %>
      </figure>
    </div>
    <% if !logged_in? %>
      <div class="card bg-base-100 w-96 shadow-xl my-4">
        <!--<figure class="px-10 pt-10">
          <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes"
          class="rounded-xl" />
        </figure>  -->
        <div class="card-body items">
          <h2 class="card-title pb-4">ログインして便利な機能を使ってみよう</h2>
          <p>ログインすると見つけたツーリングスポットにいつでも行けるように保存することが出来ます。ログインはLINE・Googleアカウントを使って簡単にログインすることが出来ます。</p>
          <div class="card-actions justify-center">
            <%= button_to "ログインする", login_path, method: :get, class: "btn rounded-btn mt-4" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> 