<div class="bg-base-200 menu items-center z-10">
  <div class="flex flex-none gap-4 h-48 z-10">
    <div class="card w-96 bg-base-100 shadow-xl z-10">
      <div class="card-body">
        <h2 class="card-title">ツーリングスポットを探そう！</h2>
          <p>画面上部のツーリングスポットを探すから、現在地から探したいカテゴリーと範囲で探すか選択して検索をしよう</p>
          <p>※実際の交通規制に従って走行してください</p>
      </div>
      <!-- <figure><img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
    </div>

    <div class="card w-96 bg-base-100 shadow-xl z-10">
      <div class="card-body">
        <h2 class="card-title">ログイン</h2>
        <p>GoogleもしくはLINEから簡単にログイン出来ます。ログイン後は見つけたツーリングスポットを保存していつでも行けるように出来ます

      </p>
      </div>
      <!-- <figure><img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
      </div>
    </div>
  </div>
</div> 