<div class="bg-base-200 menu items-center">
  <div class="flex flex-none gap-4 h-48 z-20">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">ツーリングスポットを探そう！</h2>
          <p>画面上部のツーリングスポットを探すから、現在地から探したいカテゴリーと範囲で探すか選択して検索を行おう</p>
      </div>
      <!-- <figure><img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
    </div>

    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">ログイン説明! </h2>
        <p>〜後日追加予定〜

      </p>
      </div>
      <!-- <figure><img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
      </div>
    </div>
  </div>
</div>