<div class="bg-base-200 menu items-center">
<div class="grid grid-cols-2 gap-4 h-48 ">
<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Shoes! 説明記述するよ〜</h2>
    <p>説明記述するよ〜</p>
  </div>
  <figure><img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
</div>

<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">ログイン説明! </h2>
    <p>説明記述するよ〜 ログインしたら使える機能増えるよ〜</p>
  </div>
  <figure><img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
  </div>
</div>
</div>
</div>