<%= link_to favorites_destinations_path(current_user.favorite_destinations.find_by(destination_id: destination.id)), id: "bookmark-button-for-destination-#{destination.id}", data: { turbo_method: :delete } do %>
  <div class="swap-on"><%= image_tag "favorite_mark.svg", size:'30x30' %></div>
<% end %>