
<% if current_user.favorite?(destination) %>
  <%= button_to favorite_destination_path(destination_id: destination.id), method: :delete, class: "btn btn-ghost btn-sm" do %>
    <div class="swap-on"><%= image_tag "favorite_mark.svg", size:'28x28' %></div>
  <% end %>
<% else %>
  <%= button_to favorite_destinations_path(destination_id: destination.id), method: :post, class: "btn btn-ghost btn-sm" do %>
    <div class="swap-off"><%= image_tag "unfavorite_mark.svg", size:'28x28' %></div>
  <% end %>
<% end %>
