<ul class="bg-base-100 rounded-t-none p-2 z-50 relative">
  <li><%= link_to "後で行きたい", future_visits_destinations_path, class: "btn btn-ghost" %></li>
  <li><%= link_to "お気に入り", favorites_destinations_path, class: "btn btn-ghost" %></li>
  <li><%= link_to "マイページ", users_path, class: "btn btn-ghost" %></li>
  <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "btn btn-ghost" %></li>
</ul>