<div class="menu items-center z-10 py-6">
  <div class="flex-col md:flex-row justify-center py-10 gap-8">
    <div class="error-message">
      <p>申し訳ありませんが、リクエストに誤りがあったため処理できませんでした。</p>
      <p>入力内容を確認して、もう一度お試しください。</p>
    </div>
    </div>
    <%= link_to "トップページに戻る", '/', class: "btn my-10" %>
</div>
