<div class="pt-3 mb-3">
  <h2 class="text-lg menu items-center">お気に入り一覧</h2>
  <div class="bg-base-200 menu items-center">
    <% if @favorite_destinations.present? %>
      <%= render 'shared/destinations', destinations: @favorite_destinations %>
    <% else %>
      <p>お気に入りに登録されたスポットがありません</p>
    <% end %>
  </div>
</div>